/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2016, 4:22:43 PM
    Author     : Elfre
*/
*{
    margin: 0px;
}
.directionsForm{
    min-width: 100%;
    background-color: blue;
}
.directionsForm button{
   padding: 0px 10px;
   border-radius: 4px;
   background-color: lightblue;
}
.directionsForm input[type="text"]{
    margin: 10px;
   
}
.buttonGO{
    margin-top: 10px;
}
.row{
    margin: 8px;
}
.rightCol{
    height: 100px;  
}

.navbar-inverse{
    background-color: #4285F4 !important;
    background-image: none !important;
}
.form-textbox{
    width: 95%;
    background-color: #4285F4 !important;
    color: white !important;
    font-weight: bolder;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white !important;
}
.col-xs-offset-2{
    margin-left: 20px !important    ;
}
.glyphicon{
    font-size: 20px;
    color: white !important;
    font-weight: bolder;
}

.fullWidth{
    margin-top: -20px;
    width: 90%;
}
